.product-image-gallery {
  .gallery-container {
    display: grid;
    grid-template-columns: 120px 380px;
    grid-template-rows: 380px 120px;
    gap: 15px;
    width: 515px;
    height: 515px;
  }

  .main-image-container {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    width: 380px;
    height: 380px;

    .main-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.3s ease; // Smooth transition when changing images
    }
  }

  .left-thumbnails {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .bottom-thumbnails {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    display: flex;
    gap: 15px;
  }

  .thumbnail {
    width: 120px;
    height: 120px;
    cursor: pointer;
    border: 1px solid transparent;
    overflow: hidden;
    transition: border-color 0.3s ease;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &:hover {
      border-color: black;
    }

    &.active {
      border-color: black;
    }
  }

  // Media query for iPad Pro
  @media (max-width: 1024px) and (min-width: 768px) {
    .gallery-container {
      grid-template-columns: 100px 300px; // Adjust column sizes
      grid-template-rows: 300px 100px; // Adjust row sizes
      width: 400px; // Adjust overall width
      max-width: 90%; // Ensure it doesn't exceed the container
      height: 400px; // Adjust overall height
    }

    .main-image-container {
      width: 300px; // Adjust main image container width
      height: 300px; // Adjust main image container height
    }

    .thumbnail {
      width: 100px; // Adjust thumbnail size
      height: 100px; // Adjust thumbnail size
    }
  }

  // iPad Pro specific adjustments
  @media (min-width: 1024px) and (max-width: 1366px) {
    .gallery-container {
      grid-template-columns: 100px 400px;
      grid-template-rows: 400px 100px;
      gap: 12px;
      width: 512px;
      height: 512px;
      margin: 0 auto;
    }

    .main-image-container {
      width: 340px;
      height: 340PX;
    }

    .left-thumbnails {
      gap: 22px;

      .thumbnail {
        width: 100px;
        height: 100px;
      }
    }

    .bottom-thumbnails {
      width: 512px;
      gap: 18px;
      
      .thumbnail {
        width: 100px;
        height: 100px;
      }
    }
  }
}