.new-launched-section {
    margin-top: 50px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 65px;

    .image-container {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
  
      .launch-image {
        width: 100%;
        max-width: 1200px; // Base max-width
        height: auto;
        object-fit: contain;
  
        @media (min-width: 1440px) {
          max-width: 100%;
        }
  
        @media (min-width: 1920px) {
          max-width: 100%; // Extra large screens
        }
      }
  
      .desktop-image {
        display: block;
        
        @media (max-width: 768px) {
          display: none;
        }
      }
  
      .mobile-image {
        display: none;
        
        @media (max-width: 768px) {
          display: block;
          width: 90%;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .new-launched-section {
    padding: 0;
  }}